@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --color-osce-blue-6: #CCE3FF;
    --color-osce-blue-5: #004D80;
    --color-osce-blue-4: #3A6EA4;
    --color-osce-blue-3: #6191CA;
    --color-osce-blue-2: #88B5F1;
    --color-osce-blue-1: #AFDBFF;
    
    --color-osce-lake-1: #009DA9;
    
    --color-osce-red-5: #B51700;
    
    --color-osce-gray-1: #f2f2f2;
    --color-osce-gray-2: #cccccc;
    --color-osce-gray-3: #666666;
    --color-osce-gray-4: #222222;
    --color-osce-gray-5: #e7e7e7;

    --color-osce-green-5: #017100;

    --animate-wiggle: fadeIn .2s ease-in forwards;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

body,
html {
    width: 100%;
    height: 100%;

    font-family: "Noto Sans TC";
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

button {
    /*color: white;*/
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.9;
}


.left-menu-item{
    @apply p-[10px] pl-[20px] right-0 h-full relative rounded-l-full;
}

.left-menu-item:disabled{
    @apply text-osce-gray-2
}

.left-menu-item.on{
    @apply bg-white text-osce-blue-5 ;
}


.left-menu-item.on::before,.left-menu-item.on::after{
    content: " ";
    @apply  bg-white w-[20px] h-full right-0 absolute;

}
.left-menu-item.on::before{
    background: radial-gradient(40px at left top, transparent 50%,white 50%);
    @apply top-[-20px] 
}
.left-menu-item.on::after{
    background: radial-gradient(40px at left bottom, transparent 50%,white 50%);
    @apply  bottom-[-20px];
}


.OSCE-input{
    @apply min-w-[100px] h-[40px] appearance-none px-3 border-1 rounded-sm border-osce-gray-2 bg-osce-gray-1 shadow-none focus:shadow-none focus:outline-none
}