# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
uploads
doc

# Editor directories and files
public/~$sample.xlsx
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# git 
.git

*.mp4


# testing_data
testing_data/

# models
osce-backend/backend_api/models/

# media
osce-backend/media/

# checkpoints
osce-backend/backend_api/linly_talker/checkpoints

#gfpgan
osce-backend/backend_api/linly_talker/gfpgan/

# mac
.DS_Store
**.DS_Store

# db
osce-backend/db
db/

# test
test.html

# ollama
ollama/

# pycache
**/__pycache__**

# static
**/static